*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-pink: hsl(322, 100%, 66%);
  --color-light-pink: hsl(321, 100%, 78%);
  --color-red: hsl(0, 100%, 63%);
  --color-cyan: hsl(192, 100%, 9%);
  --color-blue: hsl(202, 100%, 98%);
  --color-white: hsl(0, 0%, 100%);
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  color: var(--color-cyan);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

button {
  background: none;
  color: inherit;
  outline: transparent;
  border: transparent;
  text-transform: capitalize;
  cursor: pointer;
}

header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4.5em auto;
}

.header-logo {
  width: 14em;
  display: inline-block;
}

.header-cta {
  background: var(--color-white);
  color: var(--color-pink);
  font-size: 1rem;
  border: 1px solid var(--color-pink);
  border-radius: 5em;
  padding: 0.6em 1.6em;
  transition: all 0.2s ease-in-out;
}

.header-cta:hover {
  color: var(--color-light-pink);
  border-color: var(--color-light-pink);
}

.hero {
  width: 90%;
  margin: 13.5em auto 0;
  text-align: center;
}

.hero-title {
  font-size: 2.8rem;
  margin-bottom: 0.45em;
  text-transform: capitalize;
}

.hero-desc {
  width: 46%;
  margin: 0 auto;
  font-size: 1.185rem;
  line-height: 1.5;
}

.hero-cta {
  display: block;
  margin: 2.5em auto 6em;
  padding: 1.55em 5.25em;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: var(--color-pink);
  color: var(--color-white);
  border-radius: 5em;
  letter-spacing: 1px;
  box-shadow: 0 6px 1em -0.5em var(--color-cyan);
  transition: all 0.2s ease-in-out;
}

.hero-cta:hover,
.hero-cta:focus {
  background-color: var(--color-light-pink);
}

.hero-illustration {
  width: 80%;
}

.stats {
  width: 95%;
  margin: 9em auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.stat {
  position: relative;
}

.stat-icon {
  position: absolute;
  top: -2em;
  left: 0.5em;
  width: 2.5em;
}

.stat-title {
  font-size: 5.5rem;
  font-weight: bold;
}

.stat-desc {
  margin-top: 0.5em;
  font-size: 1.4rem;
  color: var(--color-cyan);
  opacity: 0.5;
  text-transform: capitalize;
}

.grow {
  position: relative;
  margin-top: 17em;
  padding-top: 4em;
  padding-bottom: 2em;
  background-color: var(--color-blue);
}

.grow::before,
.grow::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10em;
  left: 0;
  right: 0;
}

.grow::before {
  bottom: 100%;
  background: url("./images/bg-section-top-desktop-1.svg") no-repeat;
}

.grow::after {
  top: 100%;
  background: url("./images/bg-section-bottom-desktop-1.svg") no-repeat;
}

.grow-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.grow-illustration,
.grow-info {
  width: 45%;
}

.grow-title {
  font-size: 2.3rem;
  margin-bottom: 0.6em;
}

.grow-desc {
  font-size: 0.95rem;
}
